*, html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #F8F8F8;
}

div, button {
    box-sizing: border-box;
}

h1, h2, h3, h4, p, a {
    line-height: 18px;
}

p, a, div {
    font-size: 15px;
}