// colors
$primary: #3863A3;
$primary-dark: #2F5489;
$primary-light: #5583C8;
$secondary: #03B57D;
$secondary-light: #35BF8A;

$gray: #C2C7CD;
$light-gray: #CCCFD0;
$white: #FFFFFF;

// text
$text-white: #DFF9FB;
$text-dark: #5A444A;

$shadow: 0px 0px 10px 1px rgba(0,0,0,0.3);