.container {
    width: 1300px;
    margin: 0 auto;
}

.main-app {
    display: flex;
    flex-direction: row;
    // border: 1px solid $light-gray;
    height: 100vh;
    box-shadow: $shadow;
    // margin-top: 6px;
    // border-radius: 5px;
}